.imgSrc {
  width: 800px;
  height: 400px;
}
.grid-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
  row-gap: 7px;
  list-style-type: none;
  padding: 0;
}
.grid-container ul li {
  text-decoration: none;
  font-size: medium;
  font-size: 20px;
}
.flex-container span {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.para1 {
  color: grey;
  font-size: 1.5em;
  font-weight: bold;
}
.para2 {
  color: black;
  font-size: larger;
}
.price {
  color: black;
  font-size: 20px;
}
.footer {
  background-color: rgb(7, 1, 7);
  height: 60px;
  width: 70%;
  color: white;
  text-align: center;
  align-content: center;
  margin-top: 10px;
}
.delivery-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
}
.Watch-info span {
  display: inline-block; /* Allows margin to be applied correctly */
  margin-bottom: 10px; /* Space between each pair of spans */
}
h4 {
  color: orange;
  font-size: 24px;
  font-weight: lighter;
}
.dark {
  color: black;
  font-size: 20px;
  font-weight: bold;

  margin-right: 5px;
  margin-bottom: 100px;
}
